@import url('https://fonts.googleapis.com/css?family=Arvo|Open+Sans');

body {
    background: url("../images/kitchen.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size   : cover;
    -o-background-size     : cover;
    background-size        : cover;
    background-color       : #f7f5f1;
    font-size  : 1em;
    width  : 100%;

    font-family: 'Open Sans', sans-serif;
    color: #545756;
}

#map-canvas {
    width: 100%;
    height: 100%;
    background-color: #2B93D9;
}

h1, h2, h3, h4, h5, h6, .ew-nav {
    font-family: "Arvo", sans-serif;    
}

p {
    color: #878787;
}

#ingredient-search-results h4{
    color: #878787;
    font-size: 1.15em;
}

.recipe-card {
    background-color: rgba(247, 245, 241, .95);
    border-radius: 4px;
}

.recipe-card img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.ew-nav {
    background-color: #2B93D9;
    color: #f7f5f1;
}

#ingredient-search-section {
    background-color: rgba(247, 245, 241, .75);
    padding: 100px;
    margin-top: 80px;
    margin-bottom: 80px;
    border-radius: 10px;
}

.eat{
    color: #2B93D9;
}

.work{
    color: #aa310c;
}

.main-input {
    margin-bottom: 3rem;
}

.deliveryMode-container {
    background-color: #aa310c;
}

#user-zip {
    width: 50%;
    margin: auto;
    text-align: center;
}

.zipSearch-hide {
    display: none;
}

.unchecked::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "";
    padding-right: 26px;
}

.checked::before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f00c";
    padding-right: 10px;
}

footer {
    background-color: #aa310c;
}

footer p {
    color: #f7f5f1;
    margin-bottom: 0;
    padding: 6px;
}

/* Modal Styling */

.modal-dialog {
    max-width: 850px;
}

.ingredients-list {
    margin-top: 24px;
}

.ingredients-list p {
    margin-bottom: 8px;
}








/* Nebi Code */

.btn-primary {
    color: #f7f5f1;
    background-color: #2B93D9;
    border-color: #2B93D9;
}

.btn-primary:hover {
    background-color: #aa310c;
    border-color: #aa310c;
}

.btn-warning {
    color: #f7f5f1;
    background-color: #aa310c;
    border-color: #aa310c;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    color: black;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    color: black;
}

.carousel-indicators li{
    background-color: red;
}

.carousel-indicators .active{
    background-color: black;
}

.locall_team_photos {
    width        : 200px;
    height       : 200px;
    margin-bottom: 5%;
}
